.friensList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 16px;
}
.friendsItem {
  width: 80px;
  height: 120px;
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
